/* main: ../main.scss */
$main-title-font-family: Roboto, sans-serif;
$main-title-font-size: 4rem;
$main-title-line-height: 1.1;
$main-title-font-size-tablet: 3rem;
$main-title-line-height-tablet: .8;
$main-title-font-size-mobile: 1rem;
$primary-font-family:Roboto, sans-serif ;
$primary-font-size: 1.8rem;
$secondary-font-family: Open Sans, sans-serif ;
$secondary-font-size: 1.4rem;
$description-font-size: 1.1rem;
$description-font-family: Raleway ,sans-serif;
$price-font-family: Indie Flower, sans-serif;
$price-font-size: 1.3em;
