/* main: ../main.scss */
$main-title-font-family: Roboto, sans-serif;
$main-title-font-size: 4vw;
$main-title-line-height: 1.1;
$main-title-font-size-tablet: 3vw;
$main-title-line-height-tablet: .8;
$main-title-font-size-mobile: 1vw;

$secondary-title-font-size : 3vw;

$small-title-font-size: 2vw;
$small-title-font-family: Open Sans, sans-serif;

$primary-font-family:Roboto, sans-serif ;
$primary-font-size: 1.7vw;

$secondary-font-family: Open Sans, sans-serif ;
$secondary-font-size: 1.2vw;

$description-font-size: 1vw;
$description-font-family: Raleway ,sans-serif;

$price-font-family: Indie Flower, sans-serif;
$price-font-size: 1.4vw;

$add-to-cart-font-size : 1vw;
